---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Page de blog";
const allPosts = await getCollection("blog");
---

<BaseLayout>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        // <li>
        //   <a href={post.url}>{post.frontmatter.title}</a>
        // </li>
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
